.modal {
  position: fixed;
  display: flex;
  inset: 0;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  padding-top: 50px;
  padding-bottom: 50px;
}

.main {
  display: flex;
  margin: auto;
  position: relative;
  cursor: default;
}
