.item {
  border-radius: 16px;
  background: #fff;
  padding: 16px;
}

.vacancy {
  cursor: pointer;
}

.img {
  display: block;
  height: 44px;
}

.company {
  padding: 12px 0 8px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.title {
  display: inline-block;
  padding: 3px 5px;
  border-radius: 4px;
  background: #eaecff;
  font-size: 14px;
  font-weight: 400;
}

.fields {
  padding-top: 8px;
}

.field {
  color: #ccc;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
